@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import "argon-dashboard";

@import "node_modules/vue-select/src/scss/vue-select";
#search_input {
    position: relative;
    float: right;
}

.arrows-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: .75rem;
    justify-content: space-between;
}
div .th-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    font-weight: bold;
    align-items: center;
}
//style para inputs que son readonly que llevan icono en el frente
span.input-group-text.readonly{
    background-color: #e9ecef!important;
}
