<template>
    <div>
        <div class="row">

            <div class="card mt--5">
                <!--         <div class="card-header">Afiliado: {{ asistencia.nombre_afiliado }} | Rut: {{ rut }}</div>-->
                <div class="card-body">
                    <table class="table table-borderless">
                        <tr>
                            <td>Fecha de registro:</td>
                            <td>{{fechacreacion}}</td>
                        </tr>
                        <tr>
                            <td>Usuario apertura:</td>
                            <td>{{asistencia.creador.name}}</td>
                        </tr>
                    </table>
                    <!--                <div class="row">
                                        <div class="col table-responsive">
                                            <table class="table table-condensed table-bordered ">
                                                <tr>
                                                    <td>Expediente: {{asistencia.expediente}}</td>
                                                    <td>Asistencia: {{asistencia.asistencia}}</td>
                                                    <td>Creador: {{asistencia.creador.name}}</td>
                                                    <td>Cuenta: {{asistencia.cuenta}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Costo Siga: {{costototal}}</td>
                                                    <td>Apertura Expediente: {{asistencia.apertura_expediente}}</td>
                                                    <td>Apertura Asistencia: {{asistencia.apertura_asistencia}}</td>
                                                    <td>Creacion:
                                                        <timeago :datetime="asistencia.created_at"></timeago>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                    <div class="row">
                                        <div class="form-group custom-pad">
                                            <label for="prev">Prevision</label>
                                            <select class="form-control" v-model="asistencia.prevision_id" id="prev"
                                                    @change="updateprevision">
                                                <option value="0">Seleccione un elemento</option>
                                                <option v-for="option in previsiones" :value="option.id">
                                                    {{option.nombre}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <!--         <div class="card-header">Afiliado: {{ asistencia.nombre_afiliado }} | Rut: {{ rut }}</div>-->
                <div class="card-body">
                    <table class="table table-borderless">
                        <tr>
                            <td>Expediente:</td>
                            <td>{{asistencia.expediente}}</td>
                            <td>Apertura Expediente:</td>
                            <td>{{asistencia.apertura_expediente}}</td>
                        </tr>
                        <tr>
                            <td>Asistencia:</td>
                            <td>{{asistencia.asistencia}}</td>
                            <td>Apertura Asistencia:</td>
                            <td>{{asistencia.apertura_asistencia}}</td>
                        </tr>
                        <tr>
                            <td>Cuenta:</td>
                            <td>{{asistencia.cuenta}}</td>
                            <td>Fecha Accidente:</td>
                            <td>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Escoja fecha" v-model="fechaaccidente" type="date" >
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                asistencia: {
                    rut_afiliado: {
                        type: String,
                        default: '',
                    },
                    creador: {
                        name: {
                            type: String,
                            default: ''
                        }
                    }
                },
                previsiones: [],
                fechaaccidente: '',
            }
        },

        created() {
            const id = Number(this.$route.params.id);
            if (Number.isNaN(id)) {
                this.$router.push({name: 'not-found'})
            } else {
                this.getAsistencia();
                this.getPrevisiones();
            }
        },
        methods: {
            updateprevision() {
                let params = {prevision: this.asistencia.prevision_id, asistencia: this.asistencia.asistencia}
                axios.put('/api/prevision/asistencia', params)
                    .then(response => {
                    })
                    .catch(error => {
                        console.error(error);
                        this.$swal({
                            type: 'error',
                            text: 'No se pudo actualizar la prevision',
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                        });
                    });
            },
            getAsistencia() {
                axios.get('/api/asistencia/' + this.$route.params.id)
                    .then(response => {
                        this.asistencia = response.data;
                    })
                    .catch(error => {
                        if (error.response.status === 404) {
                            alert('No existe una asistencia con el valor indicado')
                        }
                        if (error.response.status === 401) {
                            alert('No existe una asistencia con el valor auth')
                        }
                    })
            },
            getPrevisiones() {
                axios.get('/api/previsiones')
                    .then(response => {
                        this.previsiones = response.data
                    })
                    .catch(error => {
                        console.error(error)
                    })
            }
        },
        computed: {
            rut() {
                let temp_rut = '';
                for (let i = 0; i < this.asistencia.rut_afiliado.length - 1; i++) {
                    temp_rut += this.asistencia.rut_afiliado[i];
                }
                return temp_rut + '-' + this.asistencia.rut_afiliado[this.asistencia.rut_afiliado.length - 1]
            },
            costototal() {
                return '$ ' + Number(this.asistencia.costo_asistencia).toLocaleString() + ' CLP';
            },
            fechacreacion() {
                let d = new Date(this.asistencia.created_at);
                return d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate();
            }
        }
    }
</script>

<style scoped>
    .custom-pad {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
