<template>
    <div class="modal fade"   :id="modalIdentification" tabindex="-1" role="dialog" :aria-labelledby="modalIdentification"
         aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-"  :class="modalSize"  role="document">
            <div class="modal-content " :class="color">

                <div class="modal-header">

                    <slot name="header">

                    </slot>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <slot name="body">
                    </slot>
                </div>

                <div class="modal-footer">
                    <slot name="footer">
                        <button type="button" class="btn btn-white">Ok</button>
                        <button type="button" class="btn btn-link  ml-auto"
                                :class="this.gradient === '' ? '':'text-white'" data-dismiss="modal">Cerrar
                        </button>
                    </slot>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            gradient: {
                type: String,
                default: '',

            },
            modalSize: {
                type: String,
                default: ''
            },
            modalIdentification: {
                type: String,
                default: 'modal-notification'
            }
        },
        computed: {
            color() {
                return this.gradient !== '' ? 'bg-gradient-' + this.gradient : '';

            }
        }
    }
</script>

<style scoped>

</style>
