<template>
    <thead>
    <tr class="text-center">
        <th v-for="column in columns" :key="column.name" @click="$emit('sortBy',column.name)">
                            <span>
                                <i :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'fa fa-sort-up' : 'fa fa-sort-down') : 'sorting'"></i>
                            </span>
            {{column.label}}
        </th>
        <th style="width:5%">Acciones</th>
    </tr>
    </thead>

</template>

<script>
    export default {
        props: {
            columns: {
                type: Array,
                default: []
            },
            sortOrders: {
                type: Object
            },
            sortKey: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style scoped>

</style>
