<template>
    <div class="card col-6 center" v-if="$can('regiones-create')">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Registrar Nueva Region</h3>
                </div>
                <div class="col-4 text-right">
                    <router-link :to="{ name: 'region-list'}" class="btn btn-dark">Volver a listado</router-link>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Region: </label><input type="text" v-model="nombre" placeholder="Nombre de Region"
                                                      class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="label">Posee Staff:</label>
                        <span class="clearfix"></span>
                        <label>NO/SI</label>
                        <span class="clearfix"></span>
                        <label class="custom-toggle ">
                            <input type="checkbox" v-model="staff">
                            <span data-label-off="No" data-label-on="Yes" class="custom-toggle-slider rounded-circle"></span>
                        </label>

                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" @click="crearDiagnostico"
                                :disabled="disabled">Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                nombre: '',
                staff: true,
                errors: [],
            }
        },
        methods: {
            crearDiagnostico() {
                let url = '/api/mantenedores/regiones';
                axios.post(url, {nombre: this.nombre, staff: this.staff})
                    .then(response => {
                        if (response.data.nombre && response.data.staff) {
                            this.$swal({
                                type: 'success',
                                text: 'region "' + response.data.nombre + '" se creo correctamente'
                            }).then(value => {
                                this.nombre = '';
                                this.staff = '';
                            });
                        }
                    })
                    .catch(error => {

                        this.errors = error.response.data.errors;
                        let message = '';
                        for (let field of Object.keys(this.errors)) {
                            console.log(this.errors[field][0]);
                            message = this.errors[field][0];
                            /*  message += ' ' +(this.errors[field][0], 'error');*/
                        }
                        this.$swal({
                            type: 'error',
                            text: 'El region no ha podido ser creada debido a que :' + message
                        });
                        this.errors = [];
                    })
            }
        },
        computed: {
            disabled() {
                return this.nombre.length < 3 ;
            }
        }
    }
</script>

<style scoped>

</style>
