<template>
    <div class="card col-6 center" v-if="$can('regiones-edit')">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Actualizar region</h3>
                </div>
                <div class="col-4 text-right">
                    <router-link :to="{ name: 'region-list'}" class="btn btn-dark">Volver a listado
                    </router-link>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-12">
                    <div class="form-group">
                        <label>Region: </label>
                        <input type="text" v-model="nombre" placeholder="Nombre de Region"
                        class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="label">Posee Staff:</label>
                        <span class="clearfix"></span>
                        <label>NO/SI</label>
                        <span class="clearfix"></span>
                        <label class="custom-toggle ">
                            <input type="checkbox" v-model="staff">
                            <span class="custom-toggle-slider rounded-circle"></span>
                        </label>

                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" @click="updateregion"
                                :disabled="disabled">Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                nombre: '',
                staff: '',
                id: 0,
                errors: []
            }
        },
        created() {
            this.id = this.$route.params.id;
            this.getregion();
        },
        methods: {
            updateregion() {
                let url = '/api/mantenedores/regiones/' + this.id;
                axios.put(url, {nombre: this.nombre, staff: this.staff})
                    .then(response => {
                        if (response.data.nombre) {
                            this.$swal({
                                type: 'success',
                                text: 'Region Actualizado Correctamente'
                            });
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 403) {
                            this.$swal({
                                type: 'error',
                                text: error.response.data.message
                            }).then(value => {
                                window.location.href = '/'
                            });
                        } else {
                            this.errors = error.response.data.errors;
                            let message = '';
                            for (let field of Object.keys(this.errors)) {
                                message = this.errors[field][0];
                                /*  message += ' ' +(this.errors[field][0], 'error');*/
                            }
                            this.$swal({
                                type: 'error',
                                text: 'La region no ha podido ser modificado ' + message
                            });
                            this.errors = [];
                        }
                    })
            },
            getregion() {
                let url = '/api/mantenedores/regiones/' + this.id;
                axios.get(url)
                    .then(response => {
                        if (response.data) {
                            this.nombre = response.data.nombre;
                            this.staff = response.data.staff;
                        }
                    })
                    .catch(error => {
                        let message = error.response.data.error;
                        this.$swal({
                            type: 'error',
                            text: message
                        });
                        this.errors = [];
                    })
            }
        },
        computed: {
            disabled() {
                return this.nombre.length < 3;
            }
        }
    }
</script>

<style scoped>

</style>
