<template>
    <div class=" flex flex-column">
        <div class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
                <div class="form-group input-group">

                    <input
                        v-model="value"
                        placeholder="Buscar Asistencia/Expediente"
                        class="form-control input-group-alternative"
                    >
                    <div class="input-group-append">
                      <span class="input-group-text" style="border: none">
                              <i class="fas fa-search"></i>
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="asistencias && hasInfo" class="position-fixed">
            <ul class="list-group" style="max-width: 333px">
                <li class="list-group-item" v-for="asistencia in asistencias" :key="asistencia.asistencia">
                    <a :href="'/asistencias/'+ asistencia.asistencia">
                        Asistencia: {{asistencia.asistencia}} <br>
                        Expediente: {{asistencia.expediente}}<br>
                        Afiliado: {{asistencia.nombre_afiliado}}
                    </a>
                </li>
            </ul>
        </div>

        <div v-if="asistencias.length === 0 && hasInfo" class="position-fixed">
            <ul class="list-group" style="max-width: 333px">
                <li class="list-group-item">
                    Sin registros
                </li>
            </ul>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                value: '',
                asistencias: [],
                hasInfo: false,
                isCalculating: false,
                searchQueryIsDirty: false,
            }
        },
        created() {
            let self = this;
            window.addEventListener('click', function (e) {
                if (!self.$el.contains(e.target)) {
                    self.hasInfo = false

                } else {
                    if (self.asistencias.length > 0) {
                        self.hasInfo = true
                    }
                }
            })
        },
        methods: {
            fetch:
                _.debounce(function () {
                    let numasis = this.value.trim();
                    axios.get('/api/busqueda/asistencia?numasis=' + numasis)
                        .then(asist => {
                            this.asistencias = asist.data;
                            this.hasInfo = true;
                        });
                }, 500),
            filtraAsistencias() {
                if (this.value.length > 0) {
                    this.fetch();
                } else {
                    this.limpiarLista();
                }
            },
            limpiarLista() {
                this.asistencias = [];
            },
        },
        watch: {
            value() {
                this.filtraAsistencias();
            }
        },
        computed: {
            uri() {
                return '/asistencia/' + asistencia.asistencia;
            },
        },
    }
</script>

<style>

</style>
