<template>
    <div class="card col-6 center" v-if="$can('previsiones-create')">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Registrar Nueva Prevision</h3>
                </div>
                <div class="col-4 text-right">
                    <router-link :to="{ name: 'previsiones-list'}" class="btn btn-dark">Volver a listado</router-link>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" v-model="nombre" placeholder="Nombre de Prevision" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" @click="crearPrevision"
                                :disabled="this.nombre.length < 3 ">Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else> No tienes permisos para acceder a esta area</div>
</template>

<script>
    export default {
        data() {
            return {
                nombre: '',
                errors: []
            }
        },
        methods: {
            crearPrevision() {
                let url = '/api/mantenedores/previsiones';
                axios.post(url, {nombre: this.nombre})
                    .then(response => {
                        if (response.data.prevision) {
                            this.$swal({
                                type: 'success',
                                text: 'Prevision ' + response.data.prevision.nombre + ' se creo correctamente'
                            });
                        }
                    })
                    .catch(error => {

                        this.errors = error.response.data.errors;
                        let message = '';
                        for (let field of Object.keys(this.errors)) {
                            console.log(this.errors[field][0])
                            message = this.errors[field][0];
                            /*  message += ' ' +(this.errors[field][0], 'error');*/
                        }
                        this.$swal({
                            type: 'error',
                            text: 'La prevision no ha podido ser creada debido a que :' + message
                        });
                        this.errors = [];
                    })
            }
        }
    }
</script>

<style scoped>

</style>
