<template>
    <div class="card" v-if="$can('previsiones-list')">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <select class="form-control " v-model="length" style="max-width: 10rem">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="col align-content-center">
                    <input class="form-control  " type="text" v-model="buscar"
                           placeholder="Buscar">
                </div>
                <div class="col">
                    <router-link :to="{name:'prevision-crear'}" class="btn btn-success float-right">Nueva Prevision
                    </router-link>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-condensed align-items-center table-bordered">
                <base-table-head class="thead-light" :columns="columns"
                                 :sortOrders="sortOrders"
                                 :sortKey="sortKey"
                                 @sortBy="sortBy">
                </base-table-head>
                <tbody v-if="previsions">
                <tr class="text-center" v-for="prevision in previsions" :key="prevision.id">
                    <td>{{prevision.id}}</td>
                    <td>{{prevision.nombre}}</td>
                    <td>{{prevision.created_at}}</td>
                    <td>{{prevision.updated_at}}</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"> </i>
                            </a>


                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a href="#" @click="openmodal(prevision)" data-toggle="modal"
                                   data-target="#modal-notification" class="dropdown-item">
                                    <i class="fas fa-eye"> </i>Ver
                                </a>
                                <router-link :to="{name: 'prevision-editar', params: { id: prevision.id }}"
                                             class="dropdown-item"><i class="fas fa-pen"> </i>Editar
                                </router-link>

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody v-else>
                <tr>
                    <td :colspan="numberCols" class="text-center">No se ha entoncontrado informacion</td>
                </tr>

                </tbody>
            </table>
        </div>
        <base-pagination v-bind="pagination" align="center" @pagination-change-page="search"></base-pagination>
        <base-modal gradient="teal">

            <h5 class="modal-title text-white" id="modal-title-notification" slot="header">
                Informacion de la prevision
            </h5>

            <p slot="body" class="text-white">
                Nombre de prevision: {{prevision.nombre}}<br>
                Fecha de creacion: {{prevision.created_at}}
            </p>

            <template slot="footer">
                <button type="button" class="btn btn-link ml-auto text-white" data-dismiss="modal">Cerrar</button>
            </template>
        </base-modal>
    </div>
</template>

<script>
    export default {
        data() {
            let sortOrders = {};
            let columns = [
                {label: 'Id', name: 'id'},
                {label: 'Prevision', name: 'nombre'},
                {label: 'Fecha Creacion', name: 'created_at'},
                {label: 'Fecha Actualizacion', name: 'updated_at'},
            ];
            columns.forEach((column) => {
                sortOrders[column.name] = -1;
            });
            return {
                previsions: [],
                columns: columns,
                buscar: '',
                sortKey: '',
                sortOrders: sortOrders,
                length: 10,
                prevision: Object,
                tableShow: {
                    showdata: true,
                },
                pagination: {
                    value: 1,
                    total: 0,
                    from: 0,
                    to: 0,
                    perPage: 0
                },
            }
        },
        computed: {
            numberCols() {
                return this.columns.length + 1;
            },
        },
        methods: {
            search(val = 1) {
                let url = '/api/mantenedores/previsiones?page=' + val + '&length=' + this.length + '&search=' + this.buscar;
                if (this.buscar == "") {
                    url = url + '&showdata=' + this.tableShow.showdata
                }
                axios.get(url)
                    .then(response => {
                        this.previsions = response.data.data;
                        this.pagination.total = response.data.total;
                        this.pagination.from = response.data.from;
                        this.pagination.to = response.data.to;
                        this.pagination.value = response.data.current_page;
                        this.pagination.perPage = parseInt(response.data.per_page);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            openmodal(val) {
                this.prevision = val;
            },
            sortBy(key) {
                this.sortKey = key;
                this.sortOrders[key] = this.sortOrders[key] * -1;
                this.ordenarDatos();
            },
            getIndex(array, key, value) {
                return array.findIndex(i => i[key] == value)
            },
            ordenarDatos() {
                let previsiones = this.previsions;
                let sortKey = this.sortKey;
                let order = this.sortOrders[sortKey] || 1;
                if (sortKey) {
                    previsiones = previsiones.slice().sort((a, b) => {
                        let index = this.getIndex(this.columns, 'name', sortKey);
                        a = String(a[sortKey]).toLowerCase();
                        b = String(b[sortKey]).toLowerCase();
                        if (this.columns[index].type && this.columns[index].type === 'date') {
                            return (a === b ? 0 : new Date(a).getTime() > new Date(b).getTime() ? 1 : -1) * order;
                        } else if (this.columns[index].type && this.columns[index].type === 'number') {
                            return (+a === +b ? 0 : +a > +b ? 1 : -1) * order;
                        } else {
                            return (a === b ? 0 : a > b ? 1 : -1) * order;
                        }
                    });
                }

                this.previsions = previsiones;
            },
        },
        created() {
            this.search();
        },
        watch: {
            length() {
                this.search();
            },
            buscar: _.debounce(function () {
                this.search();
            }, 500),
        }
    }
</script>

<style scoped>
</style>
