<template>
    <div class="card col-6 center" v-if="$can('bonos-create')">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Registrar Nuevo Bono</h3>
                </div>
                <div class="col-4 text-right">
                    <router-link :to="{ name: 'bonos-list'}" class="btn btn-dark">Volver a listado de Bonos
                    </router-link>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="number" v-model="codigo" placeholder="Codigo del bono" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" v-model="descripcion" placeholder="Descripcion del bono"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="number" v-model="valor" placeholder="Descripcion del bono" class="form-control">
                    </div>
                    <div class="form-group">
                        <select v-model="categoria" class="form-control">
                            <option value="null"> Escoja</option>
                            <option value="1">Bono Pad</option>
                            <option value="2">Cuenta Abierta</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" @click="crearBono"
                                :disabled="full" >Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else> No tienes permisos para acceder a esta area</div>
</template>

<script>
    export default {

        data() {
            return {
                codigo: 0,
                descripcion: null,
                valor: null,
                categoria: null
            }
        },
        methods: {

            crearBono() {
                let formData = {
                    codigo: Number(this.codigo),
                    descripcion: this.descripcion,
                    valor: Number(this.valor),
                    categoria: Number(this.categoria)
                };
                axios.post('/api/mantenedores/bonos', formData)
                    .then(response => {
                        if (response.data.bono) {
                            this.$swal({
                                type: 'success',
                                text: 'Bono  ' + response.data.bono.descripcion + ' Registrado correctamente'
                            });
                            this.codigo = null;
                            this.descripcion = null;
                            this.valor = null;
                            this.categoria = null;
                        }
                    }).catch(console.error)
            }
        },
        computed: {
            full() {
                return !(this.codigo !== 0 && this.valor != null && this.descripcion !== null && this.categoria !== null);
            }
        }
    }
</script>

<style scoped>

</style>
