<template>
    <div class="card col-6 center" v-if="$can('bonos-edit')">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Editar información de bono</h3>
                </div>
                <div class="col-4 text-right">
                    <router-link :to="{ name: 'bonos-list'}" class="btn btn-dark">Volver a listado de Bonos
                    </router-link>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="number" v-model="codigo" placeholder="Codigo del bono" class="form-control"
                               readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" v-model="descripcion" placeholder="Descripcion del bono"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="number" v-model="valor" placeholder="Descripcion del bono" class="form-control">
                    </div>
                    <div class="form-group">
                        <select v-model="categoria" class="form-control">
                            <option value="null"> Escoja</option>
                            <option value="1">Bono Pad</option>
                            <option value="2">Cuenta Abierta</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" @click="updateBono"
                                :disabled="full">Guardar Cambios
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else> No tienes permisos para acceder a esta area</div>
</template>

<script>
    export default {
        data() {
            return {
                codigo: 0,
                descripcion: null,
                valor: null,
                categoria: null
            }
        },
        created() {
            axios.get('/api/mantenedores/bonos/' + this.$route.params.id)
                .then((response) => {
                    this.codigo = response.data.codigo;
                    this.descripcion = response.data.descripcion;
                    this.valor = response.data.valor;
                    this.categoria = response.data.categoria;
                })
        },
        methods: {

            updateBono() {
                let formData = {
                    descripcion: this.descripcion,
                    valor: Number(this.valor),
                    categoria: Number(this.categoria)
                };
                axios.put('/api/mantenedores/bonos/' + this.$route.params.id, formData)
                    .then(response => {
                        if (response.data.status === 'success') {
                            this.$swal({
                                type: 'success',
                                text: 'Bono actualizado correctamente'
                            });
                        }
                    }).catch(console.error)
            }
        },
        computed: {
            full() {
                return !(this.codigo !== 0 && this.valor != null && this.descripcion !== null && this.categoria !== null);
            }
        }
    }
</script>

<style scoped>

</style>
