<template>
    <div class="card col-6 center" v-if="$can('procedimientos-create')">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Registrar Nuevo Procedimiento</h3>
                </div>
                <div class="col-4 text-right">
                    <router-link :to="{ name: 'procedimiento-list'}" class="btn btn-dark">Volver a listado</router-link>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" v-model="nombre" placeholder="Nombre de Procedimiento" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" v-model="codigo" placeholder="Codigo del Procedimiento" maxlength="12"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" @click="crearDiagnostico"
                                :disabled="disabled">Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else> No tienes permisos para accerder a a esta zona</div>
</template>

<script>
    export default {
        data() {
            return {
                nombre: '',
                codigo: '',
                errors: [],
            }
        },
        methods: {
            crearDiagnostico() {
                let url = '/api/mantenedores/procedimientos';
                axios.post(url, {nombre: this.nombre, codigo: this.codigo})
                    .then(response => {
                        if (response.data.nombre && response.data.codigo) {
                            this.$swal({
                                type: 'success',
                                text: 'Procedimiento "' + response.data.nombre + '" con codigo ' + response.data.codigo + ' se creo correctamente'
                            }).then(value => {
                                this.nombre = '';
                                this.codigo = '';
                            });
                        }
                    })
                    .catch(error => {

                        this.errors = error.response.data.errors;
                        let message = '';
                        for (let field of Object.keys(this.errors)) {
                            console.log(this.errors[field][0]);
                            message = this.errors[field][0];
                            /*  message += ' ' +(this.errors[field][0], 'error');*/
                        }
                        this.$swal({
                            type: 'error',
                            text: 'El Procedimiento no ha podido ser creada debido a que :' + message
                        });
                        this.errors = [];
                    })
            }
        },
        computed: {
            disabled() {
                return this.nombre.length < 3 && this.codigo.length < 3;
            }
        }
    }
</script>

<style scoped>

</style>
