<template>
    <div class="card col-6 center" v-if="$can('procedimientos-edit')">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Actualizar Procedimiento</h3>
                </div>
                <div class="col-4 text-right">
                    <router-link :to="{ name: 'procedimiento-list'}" class="btn btn-dark">Volver a listado
                    </router-link>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" v-model="nombre" placeholder="Nombre del Procedimiento" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" v-model="codigo" placeholder="Codigo del Procedimiento" maxlength="12" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" @click="updateProcedimiento"
                                :disabled="disabled">Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else> No tienes permisos para accerder a a esta zona</div>
</template>

<script>
    export default {
        data() {
            return {
                nombre: '',
                codigo: '',
                id: 0,
                errors: []
            }
        },
        created() {
            this.id = this.$route.params.id;
            this.getProcedimiento();
        },
        methods: {
            updateProcedimiento() {
                let url = '/api/mantenedores/procedimientos/' + this.id;
                axios.put(url, {nombre: this.nombre, codigo: this.codigo})
                    .then(response => {
                        if (response.data.nombre) {
                            this.$swal({
                                type: 'success',
                                text: 'Procedimiento Actualizado Correctamente'
                            });
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 403) {
                            this.$swal({
                                type: 'error',
                                text: error.response.data.message
                            }).then(value => {
                                window.location.href = '/'
                            });
                        } else {
                            this.errors = error.response.data.errors;
                            let message = '';
                            for (let field of Object.keys(this.errors)) {
                                message = this.errors[field][0];
                                /*  message += ' ' +(this.errors[field][0], 'error');*/
                            }
                            this.$swal({
                                type: 'error',
                                text: 'El procedimiento no ha podido ser modificado ' + message
                            });
                            this.errors = [];
                        }
                    })
            },
            getProcedimiento() {
                let url = '/api/mantenedores/procedimientos/' + this.id;
                axios.get(url, {nombre: this.nombre})
                    .then(response => {
                        if (response.data) {
                            this.nombre = response.data.nombre;
                            this.codigo = response.data.codigo;
                        }
                    })
                    .catch(error => {
                        let message = error.response.data.error;
                        this.$swal({
                            type: 'error',
                            text: message
                        });
                        this.errors = [];
                    })
            }
        },
        computed: {
            disabled() {
                return this.nombre.length < 3 && this.codigo.length < 3;
            }
        }
    }
</script>

<style scoped>

</style>
