<template>
    <div class="card" v-if="$can('procedimientos-list')">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <select class="form-control " v-model="length" style="max-width: 10rem">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <router-link :to="{name:'procedimiento-crear'}" class=" rigth btn btn-success">Nuevo Procedimiento</router-link>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-condensed align-items-center table-bordered">
                <base-table-head class="thead-light" :columns="columns"></base-table-head>
                <tbody v-if="procedimientos.length > 0">
                <tr class="text-center" v-for="procedimiento in procedimientos" :key="procedimiento.id">
                    <td>{{procedimiento.id}}</td>
                    <td>{{procedimiento.nombre}}</td>
                    <td>{{procedimiento.codigo}}</td>
                    <td>{{procedimiento.created_at}}</td>
                    <td>{{procedimiento.updated_at}}</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"> </i>
                            </a>


                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a href="#" @click="openmodal(procedimiento)" data-toggle="modal"
                                   data-target="#modal-notification" class="dropdown-item">
                                    <i class="fas fa-eye"> </i>Ver
                                </a>
                                <router-link :to="{name: 'procedimiento-editar', params: { id: procedimiento.id }}"
                                             class="dropdown-item"><i class="fas fa-pen"> </i>Editar
                                </router-link>

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody v-else>
                <tr>
                    <td :colspan="numberCols" class="text-center">No se ha entoncontrado informacion</td>
                </tr>

                </tbody>
            </table>
        </div>
        <base-pagination v-bind="pagination" align="center" @pagination-change-page="search"></base-pagination>
        <base-modal gradient="teal">

            <h5 class="modal-title text-white" id="modal-title-notification" slot="header">
                Informacion del procedimiento
            </h5>

            <p slot="body" class="text-white">
                Nombre de procedimiento: {{procedimiento.nombre}}<br>
                Codigo de procedimiento: {{procedimiento.codigo}}<br>
                Fecha de creacion: {{procedimiento.created_at}}
            </p>

            <template slot="footer">
                <button type="button" class="btn btn-link ml-auto text-white" data-dismiss="modal">Cerrar</button>
            </template>
        </base-modal>
    </div>
    <div v-else> No tienes permisos para accerder a a esta zona</div>
</template>

<script>
    export default {

        data() {
            let sortOrders = {};
            let columns = [
                {label: 'Id', name: 'id'},
                {label: 'Codigo', name: 'codigo'},
                {label: 'Procedimiento', name: 'nombre'},
                {label: 'Fecha Creacion', name: 'created_at'},
                {label: 'Fecha Actualizacion', name: 'updated_at'},
            ];
            columns.forEach((column) => {
                sortOrders[column.name] = -1;
            });
            return {
                procedimientos: [],
                columns: columns,
                sortKey: '',
                sortOrders: sortOrders,
                length: 10,
                procedimiento: Object,
                tableShow: {
                    showdata: true,
                },
                pagination: {
                    value: 1,
                    total: 0,
                    from: 0,
                    to: 0,
                    perPage: 0
                },
            }
        },
        computed: {
            numberCols() {
                return this.columns.length + 1;
            },
        },
        methods: {
            search(val) {
                let url = '/api/mantenedores/procedimientos?page=' + val + '&length=' + this.length;
                axios.get(url, {params: this.tableShow})
                    .then(response => {
                        this.procedimientos = response.data.data;
                        this.pagination.total = response.data.total;
                        this.pagination.from = response.data.from;
                        this.pagination.to = response.data.to;
                        this.pagination.value = response.data.current_page;
                        this.pagination.perPage = parseInt(response.data.per_page);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            openmodal(val) {
                this.procedimiento = val;
            }
        },
        created() {
            this.search(1);
        },
        watch: {
            length() {
                this.search(1)
            },
        }
    }
</script>

<style scoped>

</style>
