<template>
    <div class="card col-6 center" v-if="$can('diagnosticos-create')">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Registrar Nuevo Diagnostico</h3>
                </div>
                <div class="col-4 text-right">
                    <router-link :to="{ name: 'diagnostico-list'}" class="btn btn-dark">Volver a listado</router-link>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" v-model="nombre" placeholder="Nombre de Diagnostico" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" @click="crearDiagnostico"
                                :disabled="this.nombre.length < 3 ">Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                nombre: '',
                errors: []
            }
        },
        methods: {
            crearDiagnostico() {
                let url = '/api/mantenedores/diagnosticos';
                axios.post(url, {nombre: this.nombre})
                    .then(response => {
                        if (response.data.nombre) {
                            this.$swal({
                                type: 'success',
                                text: 'Diagnostico "' + response.data.nombre + '" se creo correctamente'
                            });
                        }
                    })
                    .catch(error => {

                        this.errors = error.response.data.errors;
                        let message = '';
                        for (let field of Object.keys(this.errors)) {
                            console.log(this.errors[field][0]);
                            message = this.errors[field][0];
                            /*  message += ' ' +(this.errors[field][0], 'error');*/
                        }
                        this.$swal({
                            type: 'error',
                            text: 'El Diagnostico no ha podido ser creada debido a que :' + message
                        });
                        this.errors = [];
                    })
            }
        }
    }
</script>

<style scoped>

</style>
