<template>
    <div class="card">
        <div class="card-header bg-white border-0">
            <div class="row">
                <div class="col">
                    <select class="form-control " v-model="length" style="max-width: 10rem">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="col">
                    <input class="form-control " type="text" v-model="search"
                           placeholder="Buscar"
                           style="max-width: 20rem;"
                           id="search_input">
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table align-items-center table-bordered">
                    <base-table-head class="thead-light"
                                     :columns="columns"
                                     :sortOrders="sortOrders"
                                     :sortKey="sortKey"
                                     @sortBy="sortBy">
                    </base-table-head>
                    <tbody v-if="asistencias.length > 0">
                    <tr class="text-center" v-for="asistencia in asistencias" :key="asistencia.asistencia">
                        <td>{{asistencia.asistencia}}</td>
                        <td>{{asistencia.expediente}}</td>
                        <td>{{asistencia.nombre_afiliado}}</td>
                        <td>{{asistencia.rut_afiliado}}</td>
                        <td>{{asistencia.apertura_expediente}}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-md btn-icon-only text-light bg-gradient-lighter"
                                   href="#"
                                   role="button"
                                   data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">

                                    <router-link class="dropdown-item"
                                                 :to="{ name: 'asistencia-trabajar',
                                                 params: { asistencia: asistencia.asistencia }}">
                                        Ver
                                    </router-link>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                    <tr>
                        <td :colspan="numberCols" class="text-center">No se ha entoncontrado informacion</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <base-pagination v-bind="pagination"
                         align="center"
                         @pagination-change-page="searchagain">
        </base-pagination>


    </div>

</template>

<script>
    export default {

        created() {
            this.getAsistencias();
        },
        data() {
            let sortOrders = {};
            let columns = [
                {label: 'Asistencia', name: 'asistencia'},
                {label: 'Expediente', name: 'expediente'},
                {label: 'Nombre Afiliado', name: 'nombre_afiliado'},
                {label: 'Rut Afiliado', name: 'rut_afiliado'},
                {label: 'Fecha Expediente', name: 'apertura_expediente'},
            ];
            columns.forEach((column) => {
                sortOrders[column.name] = -1;
            });
            return {
                asistencias: [],
                columns: columns,
                sortKey: '',
                sortOrders: sortOrders,
                length: 10,
                search: '',
                tableShow: {
                    showdata: true,
                },
                pagination: {
                    value: 1,
                    total: 0,
                    from: 0,
                    to: 0,
                    perPage: 0
                },
            }
        },
        computed: {
            numberCols() {
                return this.columns.length + 1;
            },
        },
        methods: {
            getAsistencias() {
                let url = '/api/asistencias/list?length=' + this.length + '&column=' + this.sortKey;
                axios.get(url, {params: this.tableShow})
                    .then(response => {
                        this.asistencias = response.data.data;
                        this.pagination.total = response.data.total;
                        this.pagination.from = response.data.from;
                        this.pagination.to = response.data.to;
                        this.pagination.value = response.data.current_page;
                        this.pagination.perPage = parseInt(response.data.per_page);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            searchagain(val) {
                let url = '/api/asistencias/list?page=' + val + '&length=' + this.length + '&search=' + this.search + '&column=' + this.sortKey;
                if (this.search == "") {
                    url = url + '&showdata=' + this.tableShow.showdata
                }
                axios.get(url)
                    .then(response => {
                        this.asistencias = response.data.data;
                        this.pagination.total = response.data.total;
                        this.pagination.from = response.data.from;
                        this.pagination.to = response.data.to;
                        this.pagination.value = response.data.current_page;
                        this.pagination.perPage = parseInt(response.data.per_page);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            filterinput: _.debounce(function () {
                let url = '/api/asistencias/list?page=' + this.pagination.value + '&length=' + this.length + '&search=' + this.search + '&column=' + this.sortKey;

                axios.get(url)
                    .then(res => {
                        this.asistencias = res.data.data;
                        this.pagination.total = res.data.total;
                        this.pagination.from = res.data.from;
                        this.pagination.to = res.data.to;
                        this.pagination.value = 1;
                        this.pagination.perPage = parseInt(res.data.per_page);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });

            }, 500),
            sortBy(key) {
                this.sortKey = key;
                this.sortOrders[key] = this.sortOrders[key] * -1;
                this.ordenaAsistencias();
            },
            getIndex(array, key, value) {
                return array.findIndex(i => i[key] == value)
            },
            ordenaAsistencias() {
                let asistencias = this.asistencias;
                let sortKey = this.sortKey;
                let order = this.sortOrders[sortKey] || 1;
                if (sortKey) {
                    asistencias = asistencias.slice().sort((a, b) => {
                        let index = this.getIndex(this.columns, 'name', sortKey);
                        a = String(a[sortKey]).toLowerCase();
                        b = String(b[sortKey]).toLowerCase();
                        if (this.columns[index].type && this.columns[index].type === 'date') {
                            return (a === b ? 0 : new Date(a).getTime() > new Date(b).getTime() ? 1 : -1) * order;
                        } else if (this.columns[index].type && this.columns[index].type === 'number') {
                            return (+a === +b ? 0 : +a > +b ? 1 : -1) * order;
                        } else {
                            return (a === b ? 0 : a > b ? 1 : -1) * order;
                        }
                    });
                }

                this.asistencias = asistencias;
            },
        },
        watch: {
            length() {
                this.searchagain(1)
            },
            search() {
                if (this.search.length != 0) {
                    this.showdata = false
                }
                this.filterinput()
            }
        }
    };

</script>

<style scoped="css">
    #search_input {
        position: relative;
        float: right;
    }
</style>
