<template>
    <base-modal modalSize="modal-lg">

        <h5 class="modal-title text-white" id="modal-title-notification" slot="header">
            Bitacora de acciones
        </h5>

        <div slot="body">
            <card v-for="bitacora in asistencia.bitacora" :key="bitacora.id" class="mt-1">
                <slot slot="header"> {{bitacora.creador.name}} el {{bitacora.created_at.split(' ')[0]}} a las
                    {{bitacora.created_at.split(' ')[1]}}
                </slot>
                {{bitacora.observacion}}
            </card>
        </div>


        <template slot="footer">
            <div class="text-center">
                <button type="button" class="btn btn-primary ml-auto" data-dismiss="modal">Cerrar</button>
            </div>
        </template>
    </base-modal>
</template>

<script>
    export default {
       props:{
           asistencia: Object
       }
    }
</script>

<style scoped>

</style>
