<template>
    <div>
        <div class="row mt-3">
            <div class="col">
                <router-link :to="{name:'asistencias-list'}" class="btn btn-default float-right mx-1"> Listado
                </router-link>
                <button class="btn btn-default float-right mx-1" data-toggle="modal"
                        data-target="#modal-notification">
                    <span class="btn-inner--icon"><i class="fa fa-book-open"></i></span>
                    <span class="btn-inner--text">Bitacora</span>
                </button>

            </div>
        </div>


        <tabs fill class="flex-column flex-md-row">
            <card shadow>
                <tab-pane title="asistencia">
                    <span slot="asistencias">
                        Asistencia
                    </span>
                    <siga-asistencia
                                     :asistencia="asistencia.asistencia"
                                     :expediente="asistencia.expediente"
                                     :cuenta="asistencia.cuenta"
                                     :nombre_afiliado="asistencia.nombre_afiliado"
                                     :rut_afiliado="asistencia.rut_afiliado"
                                     :apertura_expediente="asistencia.apertura_expediente"
                                     :apertura_asistencia="asistencia.apertura_asistencia"
                                     :prevision="asistencia.prevision"
                                     :costo_asistencia="asistencia.costo_asistencia"
                                     :usuario_creacion="asistencia.creador">
                    </siga-asistencia>
                    <div class="row">
                        <div class="form-group" v-if="regiones.length > 0">
                            <select v-model="asistencia.region" class="custom-select">
                                <option> Escoja</option>
                                <option v-for="region in regiones" :key="region.id" :value="region.id">{{
                                    region.nombre}}
                                </option>

                            </select>

                        </div>
                    </div>



                </tab-pane>
                <tab-pane tittle="coberturas">

                    <span slot="title">
                        Coberturas
                    </span>

                    <div class="row">

                        <div class="col-6">
                            <label>Fecha del accidente</label>
                            <div class="input-group ">
                                <input type="date" class="form-control" v-model="fechaacidente" @change="getValorUf">
                            </div>
                        </div>

                        <div class="col-6" v-if="fechaacidente.length >1">

                            <label>Cambio UF</label>
                            <div class="input-group ">
                                <input type="number" class="form-control" v-model="cambiouf">
                            </div>
                        </div>

                        <div class="col-3">
                            <label class="label">CObertua especial:</label>
                            <span class="clearfix"></span>
                            <label>NO/SI</label>
                            <span class="clearfix"></span>
                            <label class="custom-toggle">
                                <input type="checkbox" v-model="cobertura">
                                <span class="custom-toggle-slider rounded-circle"></span>
                            </label>

                        </div>
                    </div>
                    <div class="row" v-if="cobertura">

                        <div class="col-6">
                            <label>Clasificacion Cliente</label>
                            <select class="custom-select" v-model="clasificacion">
                                <option value="1">deportista</option>
                                <option value="2">Excepcion</option>
                                <option value="3">Fondo solidario</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">

                            <label>Tope Cobertura UF</label>
                            <div class="input-group ">
                                <input type="number" class="form-control" v-model="topeuf" :readonly="topemanual">
                            </div>
                        </div>
                        <div class="col-6">

                            <label>Tope CObertura $</label>
                            <div class="input-group ">
                                <input type="number" class="form-control" v-model="topeenpesos" readonly>
                            </div>
                        </div>


                        <div class="col-6">

                            <label>NOmbre quien autoriza</label>
                            <div class="input-group ">
                                <input type="text" class="form-control" v-model="autoriza">
                            </div>
                        </div>
                        <div class="col-6">

                            <label>Fecha autoriza</label>
                            <div class="input-group ">
                                <input type="datetime-local" class="form-control" v-model="fechaautoriza">
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Prevision Final</label>
                            <select class="custom-select">
                                <option value="1">FONASA A</option>
                                <option value="2">FONASA B</option>
                                <option value="3">FONASA D</option>
                            </select>
                        </div>
                        <div class="col-6">

                            <label>Fecha Nacimiento</label>
                            <div class="input-group ">
                                <input type="date" class="form-control" v-model="nacimiento">
                            </div>
                        </div>
                        <div class="col-3">

                            <label>Edad</label>
                            <div class="input-group ">
                                <input type="text" class="form-control" v-model="edad">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <label>Que sucedio</label>
                            <textarea v-model="editor2" class="form-control"> </textarea>
                        </div>
                        <div class="col-6">
                            <label>diagnostico</label>
                            <select class="custom-select">
                                <option value="1">Enfermedad 1</option>
                                <option value="2">Enfermedad 2</option>
                                <option value="3">Enfermedad 3</option>
                            </select>
                        </div>
                        <div class="col-6">

                            <label>Tiempo desde autorizacion </label>
                            <div class="input-group ">
                                <input type="text" class="form-control" v-model="tiempodesdeautorizacion">
                            </div>
                        </div>
                        <div class="col-6">
                            <label> Medico staff control</label>
                            <select></select>
                        </div>
                        <div class="col-6">

                            <label>Fecha 1er control</label>
                            <div class="input-group ">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-6">
                            <label> Procedimientos</label>
                            <select></select>
                        </div>
                        <div class="col-6">

                            <label>Fecha autorizacion Cirugia</label>
                            <div class="input-group ">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-6">

                            <label>fecha de cirguia</label>
                            <div class="input-group ">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-6">
                            <label> status de la cirugia</label>
                            <select></select>
                        </div>
                        <div class="col-6">

                            <label>Tiempo de cirugia desde autorizacion </label>
                            <div class="input-group ">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-6">

                            <label>Tiempo de cirugia desde accidente </label>
                            <div class="input-group ">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-6">

                            <label>Tiempo de gestion de cirugia </label>
                            <div class="input-group ">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                </tab-pane>

                <tab-pane title="costos">
                    <span slot="title">

                        Costos
                    </span>


                    <select class="custom-select" v-model="costoTipo" id="select-tipo-costo"
                            @change="getBonos( costoTipo)">

                        <option value="">escoja</option>
                        <option value="1">Bono Pad</option>
                        <option value="2"> Otro</option>
                    </select>


                    <div v-if="costoTipo == '1'" class="m-2 row">
                        <div class="col-8 mb-3">
                            <v-select multiple v-model="selecBonos"
                                      :options="bonos"
                                      :reduce="bono =>bono.id"
                                      label="descripcion"
                                      @input="pushselect"
                                      :selectable="() => selecBonos.length < 3"
                            />
                        </div>
                        <!--  <select class="custom-select" @change="selectabono()">

                              <option value="">escoja</option>
                              <option v-for="b in bonos" :value="b.id" :key="b.id">{{b.descripcion}}</option>
                          </select>-->

                        <div v-for="costo in costos" class="col-6 mb-2">

                            <label>Costo Bono</label>
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                </div>
                                <input type="number" class="form-control" :value="costo.valor">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-6">

                                <label>Total Bono Pad</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text readonly"><i class="fa fa-dollar-sign"></i></span>
                                    </div>
                                    <input type="number" class="form-control" readonly v-model="costoPad">
                                </div>

                            </div>

                            <div class="col-3">
                                <label class="label">Requiere Insumos:</label>
                                <span class="clearfix"></span>
                                <label>NO/SI</label>
                                <span class="clearfix"></span>
                                <label class="custom-toggle">
                                    <input type="checkbox">
                                    <span class="custom-toggle-slider rounded-circle"></span>
                                </label>

                            </div>


                            <div class="col-3">

                                <label>Costo Insumos</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>

                            </div>

                            <div class="col-3">
                                <label class="label">Requiere Complementario:</label>
                                <span class="clearfix"></span>
                                <label>NO/SI</label>
                                <span class="clearfix"></span>
                                <label class="custom-toggle">
                                    <input type="checkbox">
                                    <span class="custom-toggle-slider rounded-circle"></span>
                                </label>

                            </div>
                            <div class="col-3">

                                <label>Costo Insumos</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--

                                        <div v-else-if="costoTipo =='2'" class="m-2 row">
                                            <div class="col-6">
                                                <label>Costo Hospitalizacion</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" v-model="hospitalizacion.costo">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label>Costo Honoroarios Medicos</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" v-model="hospitalizacion.honorarios">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label>Costo Honoroarios Medicos</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" v-model="hospitalizacion.costo_insumos">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label>Programa Medico</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" v-model="hospitalizacion.programa">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label>Total Cuenta Abierta</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text readonly"><i class="fa fa-dollar-sign"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" v-model="cuentaAbierta" readonly>
                                                </div>
                                            </div>

                                        </div>

                                        <div v-if="costoTipo != ''" class="mt-4 row">
                                            <div class="col-4">
                                                <label>Cobertura Disponible</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" value="0">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <label>Cobertura Disponible en base a TOPE</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" value="0">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <label>Diferencia</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text "><i class="fa fa-dollar-sign"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" value="0">
                                                </div>
                                            </div>
                                            <button v-if="!asistencia.costos" class="btn btn-success mt-3" @click="CreaCostos">Agregar
                                                costos
                                            </button>
                                            <button v-else class="btn btn-success mt-3" @click="actualizaCostos">Actualiza costos</button>

                                        </div>
                    -->


                </tab-pane>


                <tab-pane title="observaciones" class="row">
                    <span slot="title">

                    Observaciones

                    </span>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-success float-right mx-1" data-toggle="modal"
                                data-target="#modal-form-observacion">
                            <span class="btn-inner--icon" data-toggle="modal"><i class="fa fa-book-open"></i></span>
                            <span class="btn-inner--text">Agregar Observación</span>
                        </button>
                    </div>

                    <card v-for="observacion in asistencia.observaciones" :key="observacion.id"
                          class=" col-md-5 col-lg-5 my-1 mx-5">
                        <slot slot="header"> {{observacion.creador.name}} el
                            {{observacion.created_at}}
                        </slot>
                        <div v-html="observacion.texto"></div>
                    </card>

                    <!--  <card v-for="item in 10" :key="item" class=" col-md-6 col-lg-5 mx-auto my-1">
                          <slot slot="header"> Fecha</slot>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet iaculis neque. Quisque
                          sit amet lacus accumsan metus elementum vehicula. Donec pretium lacus id erat pretium, non
                          lobortis eros finibus. Vivamus gravida orci in justo eleifend dignissim. Sed ut augue non nulla
                          hendrerit tincidunt nec quis ipsum. Morbi et est vitae augue volutpat pretium. Curabitur et
                          tincidunt dui. Mauris metus sem, interdum ut risus sit amet, sodales porta odio. Etiam mollis
                          fermentum porttitor. Suspendisse malesuada diam et risus aliquam euismod.
                          <slot slot="footer"> creador
                          </slot>
                      </card>-->
                </tab-pane>

                <tab-pane :tittle="'atencion'">
                    <span slot="title">
                    Atención
                    </span>
                    <div>


                        <div class="form-group">
                            <label class="clearfix"> Acudio a control con staf</label>
                            <div class="form-group">
                                <input type="radio" value="1" name="staff-acudio" id="staff-si"
                                       class="custom-radio"><label
                                for="staff-si">Si</label>
                                <input type="radio" value="0" name="staff-acudio" id="staff-no" class="custom-radio">
                                <label for="staff-no">No</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <select name="modelo-atencion">
                                <option>Escoja</option>
                                <option value="1">Escoja1</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="modelo-atencion">
                                <option>Escoja</option>
                                <option value="1">Escoja1</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="modelo-atencion">
                                <option>Escoja</option>
                                <option value="1">Escoja1</option>
                            </select>
                        </div>
                    </div>

                    <!--  <card v-for="item in 10" :key="item" class=" col-md-6 col-lg-5 mx-auto my-1">
                          <slot slot="header"> Fecha</slot>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet iaculis neque. Quisque
                          sit amet lacus accumsan metus elementum vehicula. Donec pretium lacus id erat pretium, non
                          lobortis eros finibus. Vivamus gravida orci in justo eleifend dignissim. Sed ut augue non nulla
                          hendrerit tincidunt nec quis ipsum. Morbi et est vitae augue volutpat pretium. Curabitur et
                          tincidunt dui. Mauris metus sem, interdum ut risus sit amet, sodales porta odio. Etiam mollis
                          fermentum porttitor. Suspendisse malesuada diam et risus aliquam euismod.
                          <slot slot="footer"> creador
                          </slot>
                      </card>-->
                </tab-pane>
            </card>
        </tabs>
        <!-- modal de bitacora -->
        <bitacora-asistencia :asistencia="asistencia"></bitacora-asistencia>

        <!--Modal Para agregar Observacion -->
        <base-modal modalIdentification="modal-form-observacion" modalSize="modal-lg">

            <h5 class="modal-title" id="modal-title-observacion" slot="header">
                Registrar Observación del caso
            </h5>

            <div slot="body">
                <!--  <textarea class="form-control" v-model="observacion"></textarea>-->
                <ckeditor :editor="editor" v-model="editorData"></ckeditor>

            </div>

            <template slot="footer">
                <button type="button" class="btn btn-primary "
                        data-dismiss="modal">Cerrar
                </button>
                <button type="button" class="btn btn-success ml-auto" @click="agregaObservacion">Agregar</button>
            </template>
        </base-modal>
    </div>

</template>

<script>
    import SigaAsistencia from "./SigaAsistencia";
    import BitacoraAsistencia from "./BitacoraAsistencia";
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    // Import this component
    export default {
        components: {
            BitacoraAsistencia, SigaAsistencia
        },
        data() {
            return {
                editor: ClassicEditor,
                editorData: '<p>Observaciones del caso aquí</p>',
                asistencia: {},
                observacion: '',
                costoTipo: '',
                editor2: '',
                user: this.$authUser,
                cobertura: false,
                topemanual: false,
                clasificacion: '',
                topeuf: 0,
                fechaacidente: '',
                fechaautoriza: '',
                cambiouf: 0,
                autoriza: '',
                nacimiento: '',
                bonos: [],
                selecBonos: '',
                costos: [
                    {}
                ],
                regiones: [],
                previsiones: []
            }

        },
        created() {
            axios.get('/api/asistencia/' + this.$route.params.asistencia)
                .then(response => {
                    if (response.data.asistencia) {
                        this.asistencia = response.data.asistencia;
                        if (this.asistencia.costos) {

                            this.costoTipo = this.asistencia.costos.tipo_cuenta;

                            this.bono.costo = this.asistencia.costos.costo;
                            this.bono.insumos = this.asistencia.costos.insumos;
                            this.bono.complementario = this.asistencia.costos.complementos;
                            this.bono.costo_insumos = this.asistencia.costos.costo_insumos;
                            this.bono.costo_complementario = this.asistencia.costos.costo_complementos;

                            this.hospitalizacion.costo = this.asistencia.costos.costo;
                            this.hospitalizacion.costo_insumos = this.asistencia.costos.costo_insumos;
                            this.hospitalizacion.programa = this.asistencia.costos.programa;
                            this.hospitalizacion.honorarios = this.asistencia.costos.honorarios;


                        }
                        this.previsiones = response.data.previsiones;
                        this.regiones = response.data.regiones;
                    }
                });


            if (this.asistencia.region != null) {
                axios.get('/api/doctores/').then(response => {

                })
            }
        },
        methods: {
            pushselect(id) {
                //recibe array
                console.log(id)
                this.costos = [];
                for (let i = 0; i < id.length; i++) {
                    if (!this.costos.find(x => x.id == id[i])) {
                        this.costos.unshift(this.bonos.find(bono => bono.id == id[i]))
                    }
                }


            },

            agregaObservacion() {

                axios.post('/api/observacion/asistencia', {
                    asistencia: this.asistencia.asistencia,
                    texto: this.editorData
                })
                    .then((response) => {
                        if (response.data.status === 'success') {
                            this.asistencia.observaciones.unshift(response.data.observacion)
                            this.observacion = null;
                        }
                    });
                this.editorData = '';
            },
            getBonos(id) {
                const url = '/api/ObtenerBonos/?bono=' + id;
                axios.get(url)
                    .then((response) => {
                        this.bonos = response.data;
                    });
            },
            CreaCostos() {

                let formdata = this.dataCostos();
                axios.post('/api/costos/asistencia', formdata)
                    .then(response => {
                        if (response.data.status && response.data.status === 'success') {
                            console.log('costos creados correctamente')
                        }
                    })

            },
            actualizaCostos() {
                let formdata = this.dataCostos();
                axios.put('/api/costos/asistencia', formdata)
                    .then(response => {
                        if (response.data.status && response.data.status === 'success') {
                            console.log('costos creados correctamente')
                        }
                    })

            },
            dataCostos() {
                let formdata = {};
                formdata.asistencia = this.asistencia.asistencia;
                /*               'costo' => $request->costo,
                                   'cuenta_tipo' => $request->cuenta_tipo,
                                   'insumos' => $request->insumos ?? false,
                                   'costo_insumos' => $request->costo_insumos,
                                   'complementos' => $request->complementos ?? false,
                                   'costo_complementos' => $request->costo_complementos,
                                   'honorarios' => $request->honorarios,
                                   'programa' => $request->programa,*/
                if (this.costoTipo == '1') {
                    formdata.tipo_cuenta = this.costoTipo;
                    formdata.insumos = this.bono.insumos;
                    formdata.costo = this.bono.costo;
                    formdata.costo_insumos = this.bono.costo_insumos;
                    formdata.complementos = this.bono.complementario;
                    formdata.costo_complementos = this.bono.costo_complementario;

                } else if (this.costoTipo == '2') {
                    formdata.tipo_cuenta = this.costoTipo;
                    formdata.costo = this.hospitalizacion.costo;
                    formdata.costo_insumos = this.hospitalizacion.costo_insumos;
                    formdata.costo_complementos = this.hospitalizacion.costo_complementario;
                    formdata.honorarios = this.hospitalizacion.honorarios;
                    formdata.programa = this.hospitalizacion.programa;
                }
                return formdata;
            },

            getValorUf() {
                let fecha = this.fechaacidente.split('-');
                let url = '/api/uf/valor/' + fecha[0] + '/' + fecha[1] + '/' + fecha[2];
                axios.get(url)
                    .then((response) => {
                        this.cambiouf = response.data.precio;
                    }).catch(console.error)
            }
        },
        computed: {
            costoPad() {
                let val;
                for (let i = 0; i < costos.length; i++) {
                    val += costos[i].valor;
                }
                return val - this.bono.costo_insumos - this.bono.costo_complementario;
            },
            cuentaAbierta() {
                return this.hospitalizacion.costo - this.hospitalizacion.honorarios - this.hospitalizacion.costo_insumos - this.hospitalizacion.programa;
            },
            topeenpesos() {
                return this.cambiouf * this.topeuf;
            },
            edad() {
                let nac = new Date(this.nacimiento);
                let diff_ms = Date.now() - nac.getTime();
                let age_dt = new Date(diff_ms);
                let nan = Math.abs(age_dt.getUTCFullYear() - 1970);
                if (isNaN(nan)) {
                    return ''
                } else {
                    return nan + ' años';
                }

            },
            tiempodesdeautorizacion() {
                if (this.fechaautoriza.length > 1) {

                    let fec = new Date();
                    let fec2 = new Date(this.fechaautoriza);

                    const diffTime = Math.abs(fec2 - fec);
                    const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));
                    let dias = diffDays > 1 ? 'días' : 'día';
                    return diffDays + ' ' + dias;

                } else {
                    return ''
                }

            }
        },
        watch: {
            clasificacion() {
                if (this.clasificacion == "1") {
                    this.topeuf = 100;
                    this.topemanual = true;
                } else if (this.clasificacion == "2") {
                    this.topeuf = 0;
                    this.topemanual = false;
                } else {
                    this.topeuf = 120;
                    this.topemanual = true;
                }

            }
        },
    }
</script>

<style>

    blockquote {

        margin: 3rem auto;
        font-style: italic;
        color: #555555;
        padding: 2rem;
        line-height: 1.6;
        position: relative;
        background: #EDEDED;
    }

    blockquote::after {
        content: '';
    }

    figure.table > table, tbody, th, td {
        border: 1px solid #e9ecef;
    }


</style>
