<template>
    <div class="row">
        <div class="col-3">
            <label class="label">Requiere Insumos:</label>
            <span class="clearfix"></span>
            <label>NO/SI</label>
            <span class="clearfix"></span>
            <label class="custom-toggle">
                <input type="checkbox" v-model="cobertura">
                <span class="custom-toggle-slider rounded-circle"></span>
            </label>

        </div>
    </div>
</template>

<script>
    export default {
        props: {
            cobertura: {
                default: false,
                type: Boolean
            }
        }
    }
</script>

<style scoped>

</style>
