<template>
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Ficha desde el SIGA</h1>
        </div>
        <div class="card-body">

            <table class="table table-borderless ">
                <tr>
                    <td>Fecha de registro:</td>
                    <td>
                        {{fechacreacion}}
                    </td>
                    <td>Usuario Apertura:</td>
                    <td>{{creador}}</td>
                </tr>
                <tr>
                    <td>Asistencia:</td>
                    <td>
                        <div class="form-group" :class="badasistencia ? 'has-danger' :'' ">
                            <input type="text" class="form-control" v-model="asistencia" name="asistencia"
                                   @input="contedorBusqueda" :class="badasistencia ? 'is-invalid': '' ">
                            <p v-if="loading">⟳ Buscando</p>
                        </div>
                    </td>
                    <td>Apertura Asistencia:</td>
                    <td><input type="date" class="form-control" v-model="asistencia_apertura" readonly></td>
                </tr>
                <tr>
                    <td>Expediente:</td>
                    <td><input type="text" class="form-control readonly" v-model="expediente" readonly></td>
                    <td>Apertura Expediente:</td>
                    <td><input type="date" class="form-control" v-model="expediente_apertura" readonly></td>
                </tr>
                <tr>
                    <td>Cuenta:</td>
                    <td><input type="text" class="form-control" v-model="cuenta" readonly></td>
                    <td>Prevision Inicial:</td>
                    <td>
                        <v-select label="nombre" v-model="prevision" :options="informacioncreacion.previsiones" disabled
                                  :reduce="option => option.id"></v-select>
                    </td>
                </tr>
                <tr>
                    <td>Nombre del Afliado:</td>
                    <td><input type="text" class="form-control" v-model="nombre_afiliado" readonly></td>
                    <td>Costo Actual Siga:</td>
                    <td><input type="text" class="form-control" v-model="costo_asistencia" readonly></td>
                </tr>
                <tr>
                    <td>RUT del Afliado:</td>
                    <td><input type="text" class="form-control" v-model="rut_afiliado" readonly></td>
                </tr>
            </table>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <button class="btn btn-success" @click="guardar"> Continuar</button>

                </div>
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        data() {
            return {
                asistencia: '',
                expediente: '',
                cuenta: '',
                asistencia_apertura: '',
                expediente_apertura: '',
                usuario_creacion: '',
                fecha_creado: '',
                loading: false,
                badasistencia: false,
                informacioncreacion: {},
                prevision: '',
                nombre_afiliado: '',
                costo_asistencia: 0,
                rut_afiliado: '',
            }
        },
        computed: {
            creador() {
                return this.usuario_creacion || this.$authUser.name
            },
            fechacreacion() {
                const d = new Date();
                return d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate();
            },
        },
        methods: {
            contedorBusqueda() {
                if (this.asistencia.length > 1 && !isNaN(this.asistencia)) {
                    this.asistencia = this.asistencia.trim();
                    this.cleanData();
                    this.loading = true;
                    this.buscaSiga();
                }
            },
            buscaSiga: _.debounce(function () {
                axios.get('/api/asistencia/' + this.asistencia)
                    .then(response => {
                        if (response.data.asistencia) {
                            this.cleanData();
                            this.$swal({
                                type: 'warning',
                                text: 'El numero de asistencia ya existe, intenta nuevamente'
                            }).then(() => {
                                this.badasistencia = true;
                            })

                        }
                    }).catch(error => {
                    let uri = 'http://siga.geasa.cl/servicios/swciru_servicios.php?type=unique';
                    axios.defaults.headers.common = {};
                    axios.get(uri, {
                        params: {
                            numasis: this.asistencia
                        }
                    })
                        .then(response => {
                            if (response.data.status === 'success') {
                                let res = response.data;
                                this.expediente = res.CVEEXPED;
                                this.cuenta = res.CUENTA;
                                this.asistencia_apertura = res.APERTURA_ASIS;
                                this.expediente_apertura = res.APERTURA_EXP;
                                this.nombre_afiliado = res.NOMAFILIADO;
                                this.prevision = parseInt(res.PREVISION);
                                this.costo_asistencia = parseFloat(res.COSTO_ASISTENCIA);
                                this.rut_afiliado = res.CVEAFILIADO;
                                this.badasistencia = false;

                            } else {
                                this.$swal({
                                    type: 'error',
                                    text: 'El numero de asistencia entregado no existe en el siga como cirugia, verifica e intenta de nuevo'
                                });
                                this.badasistencia = true;
                            }
                            this.loading = false;
                        }).catch(error => {
                        console.error(error);
                        this.loading = false;
                    });
                    console.log('asistencia NO existe internamente, se puede crear aqui')
                });
            }, 700),
            cleanData() {
                this.expediente = '';
                this.asistencia_apertura = '';
                this.expediente_apertura = '';
                this.cuenta = '';
            },
            guardar() {
                let url = '/api/asistencias';
                let formdata = {
                    'asistencia': this.asistencia,
                    'expediente': this.expediente,
                    'cuenta': this.cuenta,
                    'nombre_afiliado': this.nombre_afiliado,
                    'rut_afiliado': this.rut_afiliado,
                    'apertura_expediente': this.expediente_apertura,
                    'apertura_asistencia': this.asistencia_apertura,
                    'prevision_id': this.prevision,
                    'costo_asistencia': this.costo_asistencia
                };

                axios.post(url, formdata)
                    .then(response => {
                        if (response.data.asistencia) {
                            this.$swal({
                                type: 'success',
                                text: 'Asistencia ' + response.data.asistencia + ' se registro correctamente',
                                showCancelButton: false,
                            }).then(() => {
                            });
                            this.$router.push({
                                name: 'asistencia-trabajar',
                                params: {asistencia: response.data.asistencia}
                            });
                        } else {
                            this.$swal({
                                type: 'error',
                                text: 'Un problema ha impedido registrar la cirugia, por favor intente nuevamente, si el problema persiste informar al area de sistemas.'
                            });
                        }
                    })
                    .catch(error => {

                        this.errors = error.response.data.errors;
                        let message = '';
                        for (let field of Object.keys(this.errors)) {
                            console.log(this.errors[field][0])
                            message = this.errors[field][0];
                            /*  message += ' ' +(this.errors[field][0], 'error');*/
                        }
                        this.$swal({
                            type: 'error',
                            text: 'La Asistencia no ha podido ser creada debido a que :' + message
                        });
                        this.errors = [];
                    })
            }
        },
        created() {
            axios.get('/api/asistencias/data',)
                .then(response => {
                    this.informacioncreacion = response.data;
                });
        },

    }
</script>

<style scoped>

</style>
