<template>
    <div class="row pt-md-3 pt-lg-3">
        <div class="col col-md-2">
            <div class="form-group">
                <label>Expediente</label>
                <input type="text" readonly class="form-control" v-model="expediente">
            </div>
        </div>
        <div class="col col-md-2">
            <div class="form-group">
                <label>Asistencia</label>
                <input type="text" readonly class="form-control" v-model="asistencia">
            </div>
        </div>
        <div class="col col-md-2">
            <div class="form-group">
                <label>Cuenta</label>
                <input type="text" readonly class="form-control" v-model="cuenta">
            </div>
        </div>
        <div class="col col-md-2">
            <div class="form-group">
                <label>Rut del Afiliado</label>
                <input type="text" readonly class="form-control" v-model="rut_afiliado">
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                <label>Nombre del Afiliado</label>
                <input type="text" readonly class="form-control" v-model="nombre_afiliado">
            </div>
        </div>
        <div class="col col-md-2">
            <div class="form-group">
                <label>Apertura Expediente</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text readonly"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>

                    <input type="text" readonly class="form-control" v-model="apertura_expediente">
                </div>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="form-group">
                <label>Apretura Asistencia</label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text readonly"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input type="text" readonly class="form-control" v-model="apertura_asistencia">
                </div>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="form-group">
                <label>Prevision Inicial</label>
                <input type="text" readonly class="form-control" v-model="prevision.nombre">
            </div>
        </div>
        <div class="col col-md-2">
            <div class="form-group">
                <label>Costo SIGA</label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text readonly"><i class="fa fa-dollar-sign"></i></span>
                    </div>
                    <input type="text" readonly class="form-control" v-model="costo_asistencia">
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                <label>Creador</label>
                <input type="text" readonly class="form-control" v-model="usuario_creacion.name">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            asistencia: {default: ''},
            expediente: {default: ''},
            cuenta: {default: ''},
            nombre_afiliado: {default: ''},
            rut_afiliado: {default: ''},
            apertura_expediente: {default: ''},
            apertura_asistencia: {default: ''},
            prevision: {default: ''},
            costo_asistencia: {default: ''},
            usuario_creacion: {default: ''},
        }
    }
</script>

<style scoped>

</style>
